.flashSalesPage {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.flashsales-headline {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

.flashsales-headline span {
    margin-left: 30px;
}

.flashSalesPage .products {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}

.flash-button {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    background: #e60023;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

/* FlashSaleCard.css */

.flashCard {
    margin: 6px 7px 10px;
    width: 230px; 
    text-align: left;
    line-height: 5px;
    background-color: #ffffff;
    padding-bottom: 20px;
    position: relative; 
}

.flash_img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 9em;
    background: #e7e5e5;
}

.flash_img img {
    width: 120px;
}

.icons-set {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute; 
    top: 10px;
    right: 10px; 
}

.discount {
    padding: 10px 5px;
    position: absolute;
    background-color: #e60023;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

/* .icon-1, .icon-2 {
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
} */
/* .icon-1, .icon-2 {
    position: absolute;
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-1 {
    top: 10px;
    right: 10px;
}

.icon-2 {
    top: 10px;
    left: 10px;
} */

.add-to-cart-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
    border-radius: 0;
}

.add-to-cart-btn:hover {
    opacity: 1;
}

.flashCard h3 {
    font-size: 14px;
}

.flashCard .old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 20px;
}

.flashCard .new-price {
    color: #e60023;
    font-weight: bold;
}

@media (max-width: 786px) {
    .flashSalesPage .products {
        justify-content: center; 
    }

    .flashsales-headline {

        font-weight: 700;
        font-size: 20px;
    }
/* 
    .flashCard {
        width: 90%; 
        margin: 10px auto; 
    } */

    /* .flash_img {
        padding: 10px; 
        height: auto; 
    }

    .flash_img img {
        width: 100%; 
    } */

   

    
}
