.wishlist-page {
    padding: 20px;
  }
  
  /* .wishlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .wishlist-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .wishlist-card img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .wishlist-details {
    padding: 10px;
    text-align: center;
  }
  
  .wishlist-details p {
    margin: 5px 0;
  }
  
  .wishlist-details button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .wishlist-details button:hover {
    background-color: #ff3333;
  }
   */

   .product-card{
    /* border: 1px solid #ddd; */
     /* padding: 10px; */
     margin: 6px 7px 10px;
     width: 230px;
     text-align: left;
     line-height: 5px;
     background-color: #ffffff;
     padding-bottom: 20px;
 }

  .wishlist-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    gap: 20px;
  }
 
 .product-image{
    position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 50px;
     height: 9em;
     background: #e7e5e5;
 }
 img{
     max-width: 150px
 }
 
 
 /* .icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 20px;
    left: 190px;
    bottom: 30px;
    z-index: -1;
    background: hsl(0, 0%, 100%);
 } */

 .icon{
    position: absolute;
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
    top: 20px;
    left: 190px;
    cursor: pointer;
 }

 .icons img{
    width: 70%;
 }

 .add-to-cart-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.add-to-cart-btn:hover {
    opacity: 1;
}

 .product-card .new-price {
     color: #e60023;
     font-weight: bold;
 
 }