.hero-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.sidebar {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 10px;
  border-right: 1px solid #a8a6a6;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar .dropdown {
  list-style: none;
  padding: 0 0 0 20px;
}

.hero-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #e9e9e9;
  text-align: center;
}

.hero-advert {
  flex: 5;
  width: 100%;
  padding: 30px 10px 10px 30px;
  background: #000;
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;
  margin: 30px 0 0 30px;
}

.hero-text {
  width: 40%;
}

.hero-text h1 {
  font-size: 55px;
}

.icon-white{
  color: #fff;
  margin-top: 10px;
  margin-bottom: -5px;
  margin-left: 10px;
}
.hero-img {
  background-image: url('../../../assets/hero_endframe.png');
  width: 60%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

@media (max-width: 786px) {
  .sidebar {
    display: none;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-advert {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin: 0;
  }

  .hero-text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-img {
    width: 100%;
    height: 40vh;
    margin: auto;
  }
}
