.exploreSection {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}

.exploreSection p:first-child {
    color: #e60023;
}

p img {
    width: 10px;
    margin-right: 5px;
}

.explore-btn-down {
    display: block;
    padding: 10px 15px;
    background: #e60023;
    color: #fff;
    border: none;
    outline: none;
    margin: auto;
    text-align: center;
}

.exploreSection .products {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px; 
}

.product-card {
    /* border: 1px solid #ddd; */
    /* padding: 10px; */
    margin: 6px 7px 10px;
    width: 230px;
    text-align: left;
    line-height: 5px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

.product-image {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 9em;
    background: #e7e5e5;
}

img {
    max-width: 150px;
}

/* .icons{
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 10px;
   top: 20px;
   left: 190px;
   bottom: 30px;
} */

.icon-1 {
    position: absolute;
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
    top: 20px;
    left: 190px;
    cursor: pointer;
}

.icon-2 {
    position: absolute;
    padding: 5px;
    background: #ffffff;
    border-radius: 50%;
    top: 55px;
    left: 190px;
    cursor: pointer;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.add-to-cart-btn:hover {
    opacity: 1;
}

.product-card .new-price {
    color: #e60023;
    font-weight: bold;
}

@media (max-width: 786px) {
    .exploreSection .products {
        justify-content: center; 
    }

    .product-card {
        width: 90%; 
        margin: 10px auto; 
    }

    .icon-1, .icon-2 {
        left: auto; 
        right: 10px; 
    }
}
